.carouselbox {
	font-family: sans-serif;
	position: relative;
	margin: 1em;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 10px #ccc;
	width: 100%
	overflow: hidden;
}

.content {
	margin: 0;
	padding: 0;
}

.content li {
	width: 90%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.active {
	height: 493px;
}

.active li {
	position: absolute;
	top: 200px;
}

.active li.current {
	top: 3px;
}