.panel-body{
    padding: 30px;
}

.panel-body *{
    overflow: visible;
}

.regform__group{
    margin: 0;
}

.regform__field{
   margin: 20px 0px 0;
    overflow: visible;
}

.regform__text *{
    font-size: 1em;
    margin: 5px 0;
    padding: 15px;
    width: 89%;
    border-radius: 3px;
    border-color: #89C5FA;
    border-style: solid;
}

.regform__text *::placeholder{
    color: #2595F7;
}

.regform__text *:focus{
    color: black;
}

.skrib-button{
    margin-top: 35px;
    padding: 20px;
    width: 60%;
    border: none;
    box-shadow: 3px 3px 3px 0px #dadada;
    border-radius: 3px;
    text-transform: uppercase;
}

.skrib-button:active{
    box-shadow: 3px 3px 5px 0px #e0e0e0;
    text-transform: uppercase;
}

.material-icons-search {
    color: rgb(37,149,247);
}

.profile-pic {
    background-image: url("../media/profile-pic.svg");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: 2px solid #2595F7; 
    border-radius: 50%;
    display: inline-block;
}

.profile-pic-small {
    background-image: url("../media/profile-pic.svg");
    background-size: cover;
    height: 18px;
    width: 18px; 
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-right: 5px;
}

#divider {
    height: 600px;
    border-left-style: solid;
    border-left-color: #d0d0d0;
    border-width: 1px;
}

.horizontal-divider {
    border-bottom-style: solid;
    border-bottom-color: #d0d0d0;
    border-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;  
}

#leftart__container{
    min-width: 800px;
}

#leftart__image{
    overflow: hidden;
    min-width: 400px;
    min-height: 400px;
    max-width: 800px;
    max-height: 800px;
    width: 60%;
    height: 100%;
}

#streambtn {
    padding: 15px 20px;
    border: none;
    font-size: 0.8em;
    border-radius: 3px;
    font-weight: 800;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}

input[type=search] {
    content: ;
    background: #fff url("../media/search2.svg") no-repeat 3px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 55px;
    border-radius: 3px;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    border: solid 1px #ccc;
    background-color: #fff;
    border-color: #2595F7;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input {
    outline: none;
}

input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

input[type=search]:hover {
    background-color: #fff;
}

input[type=search]:focus {
    width: 200px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
input:-moz-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: transparent;
}
/*
img:hover {
    border-radius: 10px 10px 0px 0px;
}*/

.card img {
    max-width: 250px;
    max-height: 100%;
    overflow: auto;
}

.main .card-desc {
    width: 100%;
    height: 250px;
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    text-align: left;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
}

.img-container {
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0 !important;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    box-sizing: border-box;
    width: 100%;
    color: black;
    font-size: 16px;
    padding: 10px;
}

.card:hover .img-container {
    opacity: 0.2;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

.card:hover .card-desc {
  opacity: 1;
}

@media screen and (max-width : 1537px) {

    #divider {
        display: none;
    }
}




/*All modals*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    color: white;
    width: 100%; /* Full width */
    height: 100vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    color: white;
    padding: 10px;
    border-bottom: thin solid #D3D3D3;
}

/* Modal Body */
.modal-body {
    padding: 5px 10px;
}

/* Modal Content */
.modal-content {
    /*margin: 15% auto;*/
    width: 370px;
    height: auto;
}

/* Modal Content */
.profile-modal-content {
    display: flex;
    flex-direction: row;
    column-count: 2;
    padding: 30px;
    width: auto;
    height: 100px;
}

.modal-content, .profile-modal-content {
    position: fixed;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;    
}

.modal-h2-header {
    margin: 0;
}

.pure-form fieldset {
    padding-bottom: 0.35em, 0;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
    opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 60px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
 /* -webkit-transition: .4s;
  transition: .4s;*/
}

input:checked + .slider {
  background: linear-gradient(to bottom right, #2595F7, #7458DD) !important;

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Profile Modal*/

.profile-modal {
    display: none;
    position: fixed; /* Stay in place */
    justify-content: flex-end;
    z-index: 1; /* Sit on top */
    top: 80px;
    color: white;
    width: 100%;
    height: 100vh;
    overflow: initial; /* Enable scroll if needed */
    &.visible {
        display: block;
    }
}

.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    color: white;
    width: 100%; /* Full width */
    height: 100vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.profile-pic-deets {
    background-image: url("../media/profile-pic.svg");
    background-size: cover;
    height: 100px;
    width: 100px;
    border: 2px solid #2595F7; 
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.profile-picture {
  flex-grow: 1;
}

#name {
  margin: 0;
}

#email {
  margin: 0 0 10px 0;
}

.account-details {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: flex-start;
    align-items: flex-end;
}

.main {
    display: -ms-flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    width: 65%;
    margin: 0 auto;
    column-gap: 3em;
    column-width: 200px;
    padding: 5px;
    justify-content: space-between;
    flex-grow: 0;
}

.main div {
    width: 250px;
    margin: .5vw;
}
/*
.main div iframe {
    width: 100%;
    height: auto;
}*/

.hidden-cls {
    display: none;
}

.show-more-btn {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #929292;
    text-transform: uppercase;
}

.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 12px;
    background: #eceeef;
    border-radius: inherit;
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);*/
    box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: linear-gradient(to bottom right, #2595F7, #7458DD) !important;;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

#invite-people {
    display: none;
}

@media screen and (max-width: 400px) {
    header div {
        margin: 0;
    }

    header {
        padding: 0;
    }
}


/***Pure Min CSS***/
.pure-form-aligned .pure-control-group label {
    width: 6em !important;
}

.pure-controls {
    text-align: center !important;
    margin: 1.5em 1.5em 0 !important;
}

.ui-widget.ui-widget-content {
    border: none !important;
    margin-top: 0; 
}

ul.tagit li.tagit-new {
    width: 100% !important;

}

.invite-people {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.invite-cls {
    margin-top: 10px;
    text-align: center;
}