.container {
	display: flex;

}

.container div {
	/*border: 1px #ccc solid;*/
	/*padding: 10px;*/
}

.navbar {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

}

.navbar li {
	margin: 15px 15px 15px 0px;
}


.box-a {
	display: flex;
	flex-direction: column;
	flex: 6;
	/*align-self: center;
	align-items: center;*/
	order: 2;
	/*justify-content: space-between;*/
}

.box-a1 {
	flex-direction: column;
	/*align-items: center;*/
	align-self: center;
	/*justify-content: center;*/

}

.box-a2 {
	margin: 200px 0 0 0;
	display: flex;
	flex-direction: row;
	align-self: center;
	width: 60%;
	justify-content: space-between;
}

.or-div {
	align-items: center;
}

.box-b {
	flex: 1;
	/*align-items: center;*/
	/*justify-content: space-between;*/
}

.box-b1 {
	display: flex;
	height: 100%;
}

.ul-box-b1 li a{
	text-decoration: none;
}

.li-box-b1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.link-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 66px;
	width: 100%;
	padding: 0 15px;
}

.left-to-right{
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.container * {
	margin: 5px;
}

.directions{
	flex-grow: 0;
}

.page{
	flex-grow: 3 !important;
}
