/* Online imports */
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600');
/* All text should be set to Questrial */
html {
    font-family: 'Questrial', 'Helvetica', 'Arial', sans-serif;
}


/* Text modifiers */
.logotype{
  font-weight: 800;
  margin: 0;
}

.questrial-font {
  font-family: 'Questrial', 'Helvetica', 'Arial', sans-serif;
}

.pure-button .pure-button-primary {
  font-family: 'Source Sans Pro' !important;
}

.navchoice{
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0 20px; /* for IE and Edge */
}

.uppercase{
  text-transform: uppercase;
}

.navbtn{
  text-decoration: none;
}

.regformlabel{
    font-size: 2em;
}

.regform__text *{
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: normal;
}

.marketing__header{
    font-family: 'Playfair Display', Times, serif;
    font-size: 3.5em;
}

.marketing__text{
    letter-spacing: 1.2px;
    font-size: 1.2em;
    font-weight: normal;
}

.header {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1em;
  /*letter-spacing: 1.5px;*/
}

body {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 1em;
}

p {
  color: #9d9d9d;
}