@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .masthead {
        height: 100px;
        margin-bottom: 0;
    }

    .main {
        width: 80%;
    }

    #lndpg_nav {
        width: 50%;
        padding-right: 50px;
    }
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
    .logotype {
        font-size: 3em;
    }

    .logo {
        padding: 0;
    }

    #logo {
        margin-left: 0;
    }

    .main .first-div {
        justify-content: center;
    }

    #lndpg_nav {
        width: 40%;
        padding-right: 10%;
    }
}

@media only screen 
and (min-device-width : 411px) 
and (max-device-width : 823px) {
    #lndpg_nav {
        padding-right: 10%;
    }

    .card {
        width: 320px;
    }

    .main .first-div {
        justify-content: center;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #lndpg_nav {
        padding-right: 5%;
    }
}


@media screen and (min-width: 100px) and (max-width : 1024px) {


    body {
        padding-bottom: 100px;
    }

    #masthead__container{
        width: 100%;
        background-color: white;
        position: fixed;
        box-shadow: 0px 10px 30px 0 #e0e0e0;
    }
    
    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.5em;
    }

    .profile-pic-small {
        height: 25px;
        width: 25px;
        margin-right: 12px;
    }
}