* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #F1F9FF;
	margin: 0;
	height: 1500px;
}

h1 {
	text-align: center;
	font-size: 72px;
	white-space: pre-line;
}

.box-a {
	border: 1px #ccc solid;

}

a[href$="room"] {
	background: -webkit-linear-gradient(top left, #2595F7, indigo);
	border-radius: 10px;
	width: 269px;
	height: 94px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    word-wrap: break-word;

}

#or {
	color: #535353;
	font-size: 2em;
	font-weight: 600;
}

.navbar {
    background-color: #fff;
    height: 3em;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.box-b {
	background: #fff;
}

.ul-box-b1{
	font-size: 19px;
	font-weight: 500;
	letter-spacing: 1px;
	width: 100%;
}

a[href^="side"] {
	color: black;
}

a[href^="side"]:hover {
	background: linear-gradient(to right, rgb(0, 135, 255, 0.2), rgb(178, 250, 255, 0.2));
}

.li-pad {
	padding: 0 0 0 15px;
}

.create-room, .join-room {
	width: 27%;
	text-align: justify;
	font-size: 16px;
	font-weight: 500;
	color: #535353;
}