@font-face {
  font-family: 'AktivGrotesk Bold';
  src: url('../fonts/AktivGrotesk-Bold.eot');
  src: url('../fonts/AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AktivGrotesk-Bold.woff2') format('woff2'),
  url('../fonts/AktivGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('../fonts/AktivGrotesk-Regular.eot');
  src: url('../fonts/AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AktivGrotesk-Regular.woff2') format('woff2'),
  url('../fonts/AktivGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

