//// @author https://github.com/eduardoboucas
@import 'include-media';
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

._panel__container{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

._panel__box{
  box-sizing:border-box;
  width: 100vw;
  padding: 100px 200px;

  @include media("<=tablet", "screen"){
    padding: 25px 50px;
  }
}