@import 'sassmodules/colours';
@import 'sassmodules/mixins';

button{
  &:hover{
    cursor: pointer;
  }
}

a {
  color: $pink300;
  transition: 0.1s;

  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  &:active{
    color: $blue;
  }
}

.header__container {
  background: linear-gradient(to top right, $pink, $blue);
  clip-path: polygon(
                  0 0,
                  100% 0,
                  100% calc(100% - 7vw),
                  0 100%
  );
}

.header__description *, .masthead * {
  color: white;
}

.registrationlinks * {
  text-decoration: none !important;
  padding: 15px 30px;
  background-color: rgba(255,255,255,0) !important;
  @include borderRadius(50px);
  transition: 0.3s;

  &:hover {
    transition: 0.1s;
    background-color: rgba(255,255,255,0.2) !important;
  }

  &:active{
    transition: 0.5s;
    background-color: rgba(255,255,255,0.6) !important;
  }
}

.cta {
  color: $pink300 !important;
  background: white;
  border: 0 none;
  padding: 15px 30px;
  @include borderRadius(50px);
  @include boxShadow(0px, 10px, 15px, 0px, rgba(0,0,0,0.2));

  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    transform: translateY(-2px);
    @include boxShadow(0px, 11px, 30px, -5px, rgba(0,0,0,0.1));
  }

  &:active {
    transition: 0s;
    transform: translateY(-1px);
    @include boxShadow(0px, 11px, 18px, -1px, rgba(0,0,0,0.15));
  }
}


.ctapanel__container{
  background-color: rgb(240, 240, 240);

  .cta{
    @extend .cta;
    @include boxShadow(0px, 2px, 4px, 0px, rgba(0,0,0,0.3));
    &:hover {
      @include boxShadow(0px, 7px, 15px, -5px, rgba(0,0,0,0.2));
    }
  }
}



.regform__text *{
  border-radius: 40px;

  &:focus{
    outline: none;
  }
}
