@import 'sassmodules/mixins';
@import 'sassmodules/positioning';

//// @author https://github.com/eduardoboucas
@import 'sassmodules/include-media';
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px, bigdesktop: 1920);


html, body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100vw;
  overflow-x: hidden;
}



/* HEADER **********************************************/
.header__container{
  @extend ._panel__box;
  padding-top: 70px !important;
  padding-bottom: 400px;
}

  .masthead{
    width: 100%;
    @extend ._panel__container;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  .masthead__logo{
    @extend ._panel__container;
  }

  .masthead__logo *, .registrationlinks *{
    margin: 0 10px;
  }

  .registrationlinks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header__contents{
    @extend ._panel__container;
    @include media("<=desktop", "screen"){
      flex-direction: column-reverse;
    }
  }

  .header__description{
    max-width: 500px;
    flex-grow: 2;
    flex-shrink: 1;
    margin: 0;
    @include media("<=desktop", "screen"){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

    .header__text{
      margin: 0;
      max-width: 400px;
      @include media("<=desktop", "screen"){
        width: 100%;
        text-align: center;
      }
    }

    .paragraph__text{
      @include media("<=desktop", "screen"){
        text-align: center;
      }
    }

  .header__image{
    width: 70%;
    flex-shrink: 3;
    @include media("<=desktop", "screen"){
      width: 100%;
    }
  }



/* FEATURES **********************************************/
.features__container{
  @extend ._panel__box;
  @extend ._panel__container;
  align-items: center !important;
  transform: translateY(-300px);
  padding-bottom: 0;
}

  .features__image{
    flex-shrink: 3;
    flex-grow: 2;
    width: 90%;
  }

  .features__description{
    flex-shrink: 0;
    flex-grow: 5;
    box-sizing:border-box;
    width: 25%;
    transform: translateX(-50px);
    @include media("<=desktop", "screen"){
      width: 90%;
      text-align: center;
    }
  }

.comments__container{
  @extend .features__container;
}

.comments__image{
  @extend .features__image;
  width: 90% !important;
}

.comments__description{
  @extend .features__description;
  width: 50%;
  text-align: right;
  @include media("<=desktop", "screen"){
    width: 90%;
    text-align: center;
  }
}

.order__img-desc{
  @include media("<=desktop", "screen"){
    flex-direction: column !important;
  }
}

.order__desc-img {
  @include media("<=desktop", "screen"){
    flex-direction: column-reverse !important;
  }
}



/* CTA PANEL *********************************************/
.ctapanel__container{
  @extend .features__container;
  padding: 100px;
  text-align: center;
  margin-bottom: 0;
  border-bottom: 0;
}

.ctapanel__header{
  margin: auto;
  padding: 50px;
  max-width: 700px;
}

.cta__sub{
  padding-top: 10px;
}

.submitbtn{
  margin-top: 20px;
}

.regform__text *{
  padding: 20px 20px;
  border: 0px;
  margin: 10px;
  width: 20vw;

  @include media("<=desktop", "screen"){
    width: 70vw;
  }
}
