@import 'sassmodules/fonts';
@import 'sassmodules/colours';

.paragraph__text{
  @extend .regular;
  font-size: 1.3em;
}

.header__text{
  @extend .bold;
  font-size: 3em;
}

.cta{
  @extend .regular;
  font-size: 1.1em;
}

.features__description * {
  background: white;
}


.ctapanel__header{
  font-size: 2em;
}


.bold{
  font-family: 'AktivGrotesk Bold';
}

.regular{
  font-family: 'AktivGrotesk';
}


a {
  text-decoration: none;
}

body *{
  @extend .regular;
}
