{% for field in form %}
	<div class="regform__group">
		<div class="regform__field">
			<div class="regform__text">{{ field }}</div>
			<div class="text-danger small color-error">{{ field.errors }}</div>
		</div>
	</div>
{% endfor %}
