{% extends "assets/landing.html" %}

{% block titleblock %}
    Sign up to Skrib! A real-time shared white whiteboard
{% endblock titleblock %}

{% block regform %}

<div class="panel-body">
    <h3 class='ctapanel__header '>Sign up and find out how Skrib can help you share your ideas!</h3>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <span class="col-sm-offset-2 col-sm-10">
              <span class="col-sm-10 regform__text">{{ field }}</span>
              <span class="text-danger small">{{ field.errors.as_text }}</span>
            </span>
          </div>
        {% endfor %}
        <div class="form-group">
          {% csrf_token %} <!-- added this -->
            <div class="col-sm-offset-2 col-sm-10 flexboxcontainer centerjustify">
                <button type="Submit" class="btn btn-success cta submitbtn">Sign Up</button>
            </div>
        </div>
    </form>
    <div class='helpmessage__container'>
      <p>Already have an account? </p>
      <span><a href="{% url 'accounts:signin' %}">Log in</a></span>
    </div>
</div>

{% endblock %}
