{% extends "assets/registration.leftart.html" %}

{% block regform %}

<div class="panel-body">
    <h3 class='regformlabel'>Log in to your account</h3>
    {% if error_message %}
        <p class='color-error'><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <span class="col-sm-offset-2 col-sm-10">
                    <span class="col-sm-10 regform__text">{{ field }}</span>
                    {% if field.errors %}
                        <span class="text-danger small">Invalid username or password.</span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 flexboxcontainer centerjustify">
                <button type="Submit" class="btn-success skrib-button cta">Log In</button>
            </div>
        </div>
    </form>
    <div class='helpmessage__container'>
        <p> You don't have an account? </p>
        <span> <a href='{% url 'accounts:signup' %}'> Create a new one </a> </span>
    </div>
</div>

{% endblock %}
