{% load static %}
<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href='{% static "global/img/logo-draft2.ico" %}' />
	<title>{{ room.title }} - Skrib </title>

	<!--Styles here -->
	<!--@author noahdominic -->
	<link href='{% static "rooms/stylesheets/room-positioning.css" %}' rel='stylesheet' />
	<link href='{% static "rooms/stylesheets/room-fonts.css" %}' rel='stylesheet' />
	<link href='{% static "rooms/stylesheets/room-art.css" %}' rel='stylesheet' />
	<link href='{% static "rooms/css/flex.css" %}' rel='stylesheet' />

	<!--@author jayvince-->
  	<link href='{% static "global/styles/room.css" %}' rel="stylesheet">

	<!-- @auther loewe -->
	<link href='{% static "rooms/css/streaming.css"%}' rel='stylesheet'>

	<!-- jquery -->
	<script src="{% static 'rooms/scripts/jquery/jquery-3.3.1.js'%}"></script>
</head>

<body>
	<!-- Values used by the websocket -->
	<input type="hidden" class="username" value={{ user.username }}>
	<input type="hidden" class="roomId" value={{ room.id }}>
	<input type="hidden" class="user-id" value={{ user.id }}>
	<input type="hidden" class="presentor-id" value={{ room.presentor.id }}>

	<div class="floater-container">
		<div id='helping-tools'>
		  {% if user.id == room.presentor.id %}
				<div class='tool-button tool-button__selected'><svg class='button-content' id="button-content__pen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.22 165.55"><defs></defs><title>pen</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M114.64,35.08l-39,65.22L27.56,71.55l39-65.22A12,12,0,0,1,83,2.19L110.5,18.62A12,12,0,0,1,114.64,35.08Z"/><path class="cls-1" d="M24,77.56,72,106.31,53.3,137.61a19.58,19.58,0,0,1-26.78,6.73L12,135.64a19.58,19.58,0,0,1-6.73-26.78Z"/><rect class="cls-1" x="9.46" y="116.19" width="15.69" height="50.6" rx="7.84" ry="7.84" transform="matrix(-0.86, -0.51, 0.51, -0.86, -40.49, 271.8)"/><rect class="cls-2" x="1.22" y="151.55" width="179" height="14" rx="7" ry="7"/></g></g></svg> </div>
				<div class='tool-button tool-button__unselected' style="display:none;"><svg class='button-content' id="button-content__lib" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.28 211"><title>lib</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="49" height="211" rx="15.5" ry="15.5"/><rect class="cls-1" x="72" width="49" height="211" rx="15.5" ry="15.5"/><rect class="cls-1" x="184" y="5" width="49" height="211" rx="15.5" ry="15.5" transform="translate(-27.46 107.93) rotate(-27.3)"/></g></g></svg> </div>

				<div id="undo-redo" class="controls" style="z-index: 105">
					<button id="btnUndo">Undo</button>
					<button id="btnRedo">Redo</button>
					<button id="btnClear" disabled=true>Clear</button>
					<input class="hidden"type="file" id="pdf" disabled="true" name="pdf" accept="application/pdf">
					<button><label for="pdf"  style="background: none; box-shadow: none;"> Upload </label> </button>

				</div>
				<!-- PDF controls -->
				<div class="pdfctrl">
					<div id="canvasNavi" class="container left-to-right" style="display: none;">
						<button id="PDF" disabled="true">PDF only</button>
						<button id="PDFCanvas" disabled="true">PDF and Canvas</button>
						<button id="Canvas">Canvas only</button>
					</div>
				</div>
				<span id="pdf-navi" class="container left-to-right center" style="display: none; margin-bottom: 50px;">

					<button id="pdf-prev" class="direction"><</button>
					<button id="pdf-next" class="direction">></button>

					<div class="page" style="text-align: center"><span id="page-count-container" ><span id="pdf-current-page"></span> / <span id="pdf-total-pages"></span></span></div>
				</span>
				<!-- -->
				{% else %}
				{% endif %}
				<!-- Transferred home button -->
				<div class="controls"  style="padding:20px;"><a style="color: #ff0030;" href="{% url 'rooms:home' %}">EXIT</a></div>
		</div>
		<div id="empty-space">
			<div id="empty-space__drawing-window">
				<div id="drawings" style="margin-top: 100px; border:2px solid blue; width:1280px; height:720px; position:relative; float:left">
					<!-- PDF Section -->
					<div id="pdf-container" onscroll="f(event)" style="text-align:center; width:100%; height:100%; position:absolute; pointer-events:none;">
						<canvas id="pdf-canvas" style="background:transparent; pointer-events:none;"></canvas>
					</div>

					<div id="svgHolder" style="width:100%; height:100%; position:absolute; ">
						<canvas id="canvas-cursor" style="position:absolute; background:transparent; pointer-events:none;"></canvas>
						<canvas id="canvas" style="position:absolute; background:transparent;"></canvas>
						<svg id="sample" style="width:100%; height:100%; position:absolute; display:none;" ondragover="allowDrop(event)" ondrop="drop2(event)">
						</svg>
					</div>
				</div>
			</div>
			{% if user.id == room.presentor.id %}
			<div id="empty-space__additional-tools">
			{% else %}
			<div id="empty-space__additional-tools" style="visibility:hidden;">
			{% endif %}
				<div id="pen-tools" class="controls">
					<div id="btnScribble" class="pen-tools__item pen-tools__item__selected" disabled="true">
						<svg class="button-content" id="button-draw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 226 226"><defs></defs><title>draw</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M113,0A113,113,0,1,0,226,113,113,113,0,0,0,113,0Zm30.7,212.39A104,104,0,1,1,217,113,103.74,103.74,0,0,1,143.7,212.39Z"/><path class="cls-1" d="M143.7,144.5v58.43a95.48,95.48,0,0,1-63-.56V144.5h5.73v-9l11.45-54h9.82V38.79A2.3,2.3,0,0,1,110,36.5h4.42a2.3,2.3,0,0,1,2.29,2.29V81.5h9.82l11.45,54v9Z"/></g></g></svg></div>
					<div id="btnMove" class="pen-tools__item pen-tools__item__unselected">
						<svg  class="button-content" id="button-move" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225 225"><defs></defs><title>move tool</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="move_tool" data-name="move tool"><path class="cls-1" d="M162,193.89a95.55,95.55,0,0,1-54.83,13.8l-4.06-27.57a31.24,31.24,0,0,0-7.62-18.65l-19.6-22.54a16.39,16.39,0,0,1-3.42-10c0-4.48.27-6.41,4-6.41a7.82,7.82,0,0,1,6,3L94,135.43a2.48,2.48,0,0,0,4.45-1.52V74a7.25,7.25,0,0,1,10.35-6.55s5.65,2.9,5.65,8.1l2.21,31.11a5.63,5.63,0,0,0,4.48,5.65l36.31,6.24c8.76,6,2,33,2,51Z"/><path class="cls-1" d="M112.5,0A112.5,112.5,0,1,0,225,112.5,112.5,112.5,0,0,0,112.5,0Zm30.56,211.45a103.54,103.54,0,1,1,73-99A103.54,103.54,0,0,1,143.06,211.45Z"/><polygon class="cls-1" points="68.91 62 68.91 67.82 90 67.82 90 74.18 68.91 74.18 68.91 80 54 71 68.91 62"/><polygon class="cls-1" points="144.09 79 144.09 73.18 123 73.18 123 66.82 144.09 66.82 144.09 61 159 70 144.09 79"/><polygon class="cls-1" points="114 34.91 108.18 34.91 108.18 56 101.82 56 101.82 34.91 96 34.91 105 20 114 34.91"/></g></g></g></svg>
					</div>
					<div id="btnErase" class="pen-tools__item pen-tools__item__unselected">
						<svg class="button-content" id="button-erase" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 226 226"><defs></defs><title>eraser</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M113,0A113,113,0,1,0,226,113,113,113,0,0,0,113,0Zm30.7,212.39A104,104,0,1,1,217,113,103.74,103.74,0,0,1,143.7,212.39Z"/><path class="cls-1" d="M144.7,117l-1,85.93a95.48,95.48,0,0,1-63-.56l1-85.37Z"/><path class="cls-1" d="M99.44,45h26.13A18.44,18.44,0,0,1,144,63.44V81a0,0,0,0,1,0,0H81a0,0,0,0,1,0,0V63.44A18.44,18.44,0,0,1,99.44,45Z"/><rect class="cls-1" x="81" y="90" width="63" height="18"/></g></g></svg></div>
				</div>
				<div id="color-selector" class="divColor">
					<div id="color-selector__blk" class="color-selector__selected content" color="black">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="15" fill="black" ></circle>
						</svg>
					</div>
					<div id="color-selector__red" class="content" color="red">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="15" fill="red" ></circle>
						</svg>
					</div>
					<div id="color-selector__orange" class="content" color="orange">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="15" fill="orange" ></circle>
						</svg>
					</div>
					<div id="color-selector__gold" class="content" color="gold">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="15" fill="gold" ></circle>
						</svg>
					</div>
					<div id="color-selector__green" class="content" color="green">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="15" fill="green" ></circle>
						</svg>
					</div>
					<div id="color-selector__blue" class="content" color="blue">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="15" fill="blue" ></circle>
						</svg>
					</div>
					<div id="color-selector__violet" class="content" color="violet">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="15" fill="violet" ></circle>
						</svg>
					</div>
				</div>
				<div id="width-selector">
					<div class="width__selected content" id="width-selector__100" width="2px">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="5" fill="red" ></circle>
						</svg>
					</div>
					<div id="width-selector__200" class="content" width="3px">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="6" fill="red" ></circle>
						</svg>
					</div>
					<div id="width-selector__300" class="content" width="4px">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="7" fill="red" ></circle>
						</svg>
					</div>
					<div id="width-selector__400" class="content" width="6px">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="8" fill="red" ></circle>
						</svg>
					</div>
					<div id="width-selector__500" class="content" width="8px">
						<svg height="50" width="50">
							<circle cx="25" cy="25" r="9" fill="red" ></circle>
						</svg>
					</div>
				</div>
			</div>
			<div id='empty-space__additional-tools_lib' style="display: none">
				<div id="objects" ondragstart="drag2(event)" >
					<img src='{% static "global/img/vince.png" %}' width="100" align="right"></img>
					<img src='{% static "global/img/vince.png" %}' width="100" align="right"></img>
					<img src='{% static "global/img/vince.png" %}' width="100" align="right"></img>
					<img src='{% static "global/img/vince.png" %}' width="100" align="right"></img>
					<img src='{% static "global/img/vince.png" %}' width="100" align="right"></img>
				</div>
			</div>

		</div>

		<div id="stream-info">
			<div id="stream-info__container">
				<div id="stream-info__details" class="info-card">
					<h2 id="stream-name" class="header nomargin detail"> {{ room.title }}
						<span class="stream-status live-status">Live</span>
						<span class="stream-status private-status">
							{% if room.is_private %}
							Private
							{% else %}
							Public
							{% endif %}
						</span>
					</h2>
					<span id="stream-uploader-username" class="subheader weightreg midcont small detail"> @{{ room.presentor }}</span>
					<span id="stream-desc__text" class="subheader weightreg midcont small">
						<!-- room description -->
						{% if user.username == room.presentor.username %}
						<form id='post-room-description' data-url='{% url "rooms:update-room-description" room.id %}'>
							{% csrf_token %}
							<div id='room-description-content' contenteditable="true">{{ room.description }}</div>
							<input id='room-description-input' style="display: none;">
							<button type="submit">Submit</button>
						</form>
						{% else %}
						<div id='room-description-content'>{{ room.description }}</div>
						{% endif %}
					</span>
					<div id="stream-uploader-category" class="subheader weightreg small detail">Category: <strong> {{ room.room_categories }}  </strong></strong></div>

					<!-- Audio Streaming section -->
					<div class='streaming'>
						<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
						<script>
							var sessionId = "{{ sessionId }}";
							var apiKey = "{{ api_key }}";
							var token = "{{ token }}";
						</script>

						<div class='videos'>
							<div id='publisher'></div>
							<div id='subscriber'></div>

							{% if user.username == room.presentor.username %}
								<input type='hidden' id='status' value='waiting'>
								<button id='startStop'>Enable Audio Feed</button>
								<script src="{% static 'rooms/js/users/presenter.js' %}"></script>
							{% else %}
								<script src="{% static 'rooms/js/users/viewer.js' %}"></script>
							{% endif %}

						</div>
					</div>
				</div>
				<div id="stream-info__comments" class="info-card">
					<span class="room" data-room-id="{{ room.id }}"></span>
					<span id="comments-card__label">Comments</span>
					<div id="comments-card" class="comments-board">
					</div>
					<div id="comments-card__field">
						<input id="comment-field" class="comment-box" placeholder="Add new comment"/>
						<button id="submit-btn" class="default-btn send-comment" disabled>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path fill="none" d="M0 0h24v24H0V0z"/>
								<path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM17 11h-4v4h-2v-4H7V9h4V5h2v4h4v2z"/>
							</svg>
						</button>
					</div>

			</div>
		</div>
		<span class="clear"></span>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <!--@author noahdominic -->
  	<script src="{% static 'rooms/scripts/toolbuttons.js'%}"></script>
  	<script src="{% static 'rooms/scripts/drawtools.js'%}"></script>
	<!--@author backend peeps -->
	<script> var room_id = "{{room.id}}"; </script>
	<script src='{% static "rooms/js/room-description.js" %}'></script>
	<script src='{% static "global/script/pdf.js"%}'></script>
	<script src='{% static "global/script/pdf.worker.js"%}'></script>
	<script src="{% static 'global/script/room.js' %}"></script>
	<script src='{% static "global/comments/comment.js"%}'></script>
</body>

</html>
