{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href='{% static "global/styles/positioning2.css"%}'>
    <link rel="stylesheet" type="text/css" href='{% static "global/styles/colors2.css"%}'>
    <link rel="stylesheet" type="text/css" href='{% static "global/styles/fonts2.css"%}'>
    <link rel="stylesheet" type="text/css" href='{% static "global/styles/elementmodifiers2.css"%}'>
    <link rel="stylesheet" type="text/css" href='{% static "global/styles/responsive2.css"%}'>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href='{% static "rooms/css/jquery.tagit.css" %}'>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
    integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
    crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- javascript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src='{% static "rooms/js/tag-it.js" %}'></script>
    <script type="text/javascript" src='{% static "global/script/home.js" %}' defer></script>

    <link rel="shortcut icon" href='{% static "global/img/logo-draft2.ico" %}' />

    <title>Skrib</title>
</head>
<body>
    <div class="masthead color-white">
        <div id='masthead__container' class='flexboxcontainer spacebetween color-white'>
            <div id='branding__container' class='flexboxitem'>
                <div class='flexboxcontainer flexstart'>
                  <img id='logo' class='logo' src='{% static "global/img/masthead.logo.svg" %}' width='50' alt='skrib-logo'/>
                  <h1 id='logotype' class='logotype color-accent questrial-font'> skrib </h1>
                </div>
            </div>
            <div id='lndpg_nav' class='flexboxitem'>
              <div class='flexboxcontainer spaceevenly'>
                    {% if not user.profile.guest_user %}
                    <a id='streambtn' class='navbtn uppercase color-main gradient-btn' href='#'>Stream</a>
                    {% else %}
                    <a id='streambtn' class='navbtn uppercase color-main gradient-btn' style="display:none;" href='#'>Stream</a>
                    {% endif %}
                    <form action="{% url 'rooms:room-search' %}" method="get">
                        <input id='search-room' class="js-search material-icons" type="search" placeholder="Search">
                    </form>
                    <a id='profbtn' href='#' class='account'>
                        <span class="profile-pic"></span>
                    </a>
              </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-h2-header">
                    Room Details
                    <span class="close"><i class="material-icons">close</i></span>
                </h2>
            </div>
            <div class="modal-body">
                <form class="pure-form-aligned pure-form" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="pure-control-group">
                            <div class="margin-form">
                                <label for="room-name">Room Name</label>
                                {{ form.title }}
                            </div>
                            <div class="margin-form">
                                <label for="room-name">Categories</label>
                                {{ form.room_categories }}
                            </div>

                            <div class="margin-form">
                                <label for="private-room">Private Room</label>
                                <label class="switch">
                                    {{ form.is_private }}
                                    <span class="switch-label" data-on="Yes" data-off="No"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="invite-cls">
                            <span class="invite-people">Invite people using their email address</span>
                                <ul id='invite_guest_or_skrib_users'></ul>
                            </div>
                            <div class="pure-controls">
                                <button id="submit-btn" type="submit" class="pure-button pure-button-primary gradient-btn uppercase">Create Room</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

     <div id="prof-modal" class="profile-modal">
        <div class="profile-modal-content">
            <div class="profile-picture">
                <span class="profile-pic-deets"></span>
            </div>
            <div class="account-details">
              <h2 id='name'>{{ user }}</h1>
              {% if not user.profile.guest_user %}
                <h5 id='email'>{{ user.email }}</h4>
                <a href="{% url 'accounts:logout' %}">Log Out</a>
              {% else %}
                <a href="{% url 'accounts:signup' %}">Signup</a>
              {% endif %}
            </div>
        </div>
    </div>

    <!-- Search results -->
    <div class='search-results' style="display: none;">
        <div id='searched-classroom-results'>
        </div>
    </div>

    <!-- Main Body -->
    <div class='main-body'>
        {% if created_classrooms %}
            {% if room_category_list %}
                {% for room_category in room_category_list %}
                    <div class="main header"><h2>{{ room_category }}</h2></div>
                        <div class='main first-div'>
                            {% for classroom in created_classrooms %}
                                {% if classroom.get_room_category == room_category %}
                                    <div class="card">
                                        <a href="{% url 'rooms:join-room' classroom.id %}" class="navbtn color-main">
                                            <img src='{% static "global/img/logo-draft2-sqr.svg" %}' class="img-container">
                                            <div class="card-desc">
                                                <p class="text">
                                                    {{ classroom.description }}
                                                </p>
                                            </div>
                                            <div class="container">
                                                <span><h3 class="container-text">{{ classroom.title }}</h3></span>
                                                <span class="profile-pic-small"></span><p class="container-text">{{ classroom.presentor }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!--Phantom cards-->
                            <div style="justify-content: space-between;"></div>
                            <div style="justify-content: space-between;"></div>
                            <div style="justify-content: space-between;"></div>
                        </div>
                    <div class='main horizontal-divider'></div>
                {% endfor %}
            {% endif %}

        {% else %}
            <h1>No public classrooms available.</h1>
            <p>Create one by clicking the STREAM button!</p>
        {% endif %}
    </div>

    <script>
        var users_list = JSON.parse("{{users_list|escapejs}}");
    </script>
    <script type="text/javascript" src='{% static "rooms/js/invite-users.js" %}'></script>
</body>
</html>
