<!doctype html>

<html>
<head>
    {% load static %}
    <meta charset='utf-8'/>
    <link rel="shortcut icon" href='{% static "global/img/logo-draft2.ico" %}' />
    <title> Skrib </title>

    <!-- styles here -->
    <link href='{% static "global/styles/positioning.css"%}' rel=stylesheet>
    <link href='{% static "global/styles/colors.css"%}' rel=stylesheet>
    <link href='{% static "global/styles/fonts.css"%}' rel='stylesheet'>
    <link href='{% static "global/styles/elementmodifiers.css"%}' rel='stylesheet'>


    <link href="{% static 'landing/styles/design.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'landing/styles/positioning.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'landing/styles/typography.css' %}" rel="stylesheet" type="text/css"/>
</head>


<body class="signinbody">

    <div id='masthead__container' class='flexboxcontainer spacebetween'>
    <div id='branding__container' class='flexboxitem'>
        <div class='flexboxcontainer flexstart'>
          <img id='logo' class='logo' src='{% static "global/img/masthead.logo.svg"%}' width='50' alt='skrib-logo'/>
          <h1 id='logotype' class='logotype color-accent'> skrib </h1>
        </div>
    </div>
        {% block masthead.right %}
        {% endblock %}
    </div>

    <div id='page-container'>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
