{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block titleblock %}{% endblock %}</title>

  <!-- Styles here -->
  <link href="{% static 'landing/styles/design.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'landing/styles/positioning.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'landing/styles/typography.css' %}" rel="stylesheet" type="text/css"/>

</head>


<body>
  <div class="header__container">
    <div class="masthead">
        <span class="masthead__logo">
          <img src="{% static 'landing/images/logowhitebg.svg' %}" class="logo" width="70px"/>
          <img src="{% static 'landing/images/logotype.png' %}" class="logo" width="100px"/>
        </span>
        <span class="registrationlinks">
          <a href="{% url 'accounts:signin' %}">Log In</a>
          <a href="#signup">Sign Up</a>
        </span>
    </div>
    <div class="header__contents">
      <div class="header__description">
        <h1 class="header__text"> Stream a virtual board with Skrib! </h1>
        <p class="paragraph__text"> Write on a whiteboard and share it with your friends around the world or with your clients. </p>
        <a class="cta__container" href="#signup"><button class="cta">Join Now</button></a>
      </div>
      <img src="{% static 'landing/images/header-image-cropped.png' %}" class="header__image"/>
    </div>
  </div>

  <div class="features__container order__img-desc">
    <img src="{% static 'landing/images/sideart@2x.png' %}" class="features__image"/>
    <div class="features__description">
      <h1 class="feature__text">A shared drawing board</h1>
      <p class="feature__text__description">Whether you want to teach, to collaborate, or just to play, Skrib provides a shared drawing board that can be streamed to multiple users and made available anytime, anywhere.</p>
    </div>
  </div>
  <div class="comments__container order__desc-img">
    <div class="comments__description">
      <h1 class="comments__text">Real-time communication</h1>
      <p class="comments__text__description">Receive feedback as soon as possible, without having to refresh.</p>
    </div>
    <img src="{% static 'landing/images/comments.png' %}" class="comments__image comments__image"/>
  </div>

  <div id="signup" class="ctapanel__container">
    {% block regform %}
    {% endblock %}
  </div>


  <!-- Scripts here -->
  <!-- @author https://github.com/jlmakes-->
  <script src="{% static 'landing/scripts/scrollreveal-master/scrollreveal.min.js' %}"></script>

  <!-- my scripts -->
  <script src="{% static 'landing/scripts/scrollAnimations.js' %}"></script>
</body>
</html>
