{% extends "assets/base.html" %}
{% load static %}

{% block masthead.right %}
{% endblock masthead.right %}

{% block content %}
    <div class='flexboxcontainer centerjustify addpadding_lr addpadding_tb page__content'>
        <div id='leftart__container' class="flexboxcontainer centerjustify">
            <img class='leftart__image' id='leftart__image' src={% static "global/img/leftart_image1.png" %}>
            <div id='marketing__container' class='marketing__container flexboxcontainer centerjustify'>
                    <h3 id='marketing__header' class='marketing__header color-black'> Present your ideas to the team </h3>
                    <h5 id='marketing__text' class='marketing__text color-black'>
                        Stream a virtual whiteboard to your team's devices and make long distance collaborations easier and faster.
                    </h5>
            </div>
        </div>
        <div id='divider'><p></p></div>
        <div id='rightart__container' class='flexboxcontainer centerjustify'>
                {% block regform %}
                {% endblock regform %}
        </div>
    </div>
{% endblock content %}
