/* Below are the variables for the colors in Skrib.
   Contents:
   1. Brand colors
   2. Neutral colors
   3. Meaningful colors

   Naming standard:
    purpose + lightness value (100 being the darkest and 700 being the lightest)
    e.g. 'main400' (main color with the brightness value of 400)
    (Note: 400 is main color. <400 are the shade values. >400 are the tint values)
 */
/*
Branding colors
*/
/*
Neutral colors
 */
/*
Meaningful colors
 */
/* ==========================================================================
taken from https://github.com/appleboy/normalize.scss

Normalize.scss settings
========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 25, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 38, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 52, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 73, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 90, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 100, ../sass/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 112, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 122, ../sass/partials/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 134, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 142, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 157, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 166, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 202, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 241, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 249, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 257, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 261, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 316, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 327, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 338, ../sass/partials/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 346, ../sass/partials/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 355, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 364, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 391, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 409, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 420, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 435, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 450, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 459, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 470, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 480, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 496, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 517, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 526, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 539, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 552, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 561, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 572, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 577, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 7, ../sass/room-positioning.scss */
html, body {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

/* line 15, ../sass/room-positioning.scss */
body * {
  color: #333333;
}

/* line 19, ../sass/room-positioning.scss */
span.clear {
  clear: left;
  display: block;
}

/* line 21, ../sass/room-positioning.scss */
#content-container {
  height: 1vh;
}

/* line 25, ../sass/room-positioning.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/* line 34, ../sass/room-positioning.scss */
.tool-button {
  width: 50px;
  height: 50px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 8px;
}

/* line 47, ../sass/room-positioning.scss */
.tool-button svg {
  transform: scale3d(0.8, 0.8, 0.8);
}

/* line 52, ../sass/room-positioning.scss */
.button-content {
  width: 60%;
  margin: auto;
}

/* line 57, ../sass/room-positioning.scss */
.floater-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* line 68, ../sass/room-positioning.scss */
#content-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 75, ../sass/room-positioning.scss */
#board-container {
  background-color: white;
  height: 100%;
}

/* line 80, ../sass/room-positioning.scss */
#helping-tools {
  margin: 10px;
  width: auto;
  position: relative;
  z-index: 2 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* line 92, ../sass/room-positioning.scss */
#undo-redo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* line 99, ../sass/room-positioning.scss */
#empty-space {
  width: 80%;
  height: 100vh;
  position: relative;
  z-index: 2 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 2;
  flex-shrink: 12;
  background: transparent;
}

/* line 114, ../sass/room-positioning.scss */
#empty-space__drawing-window {
  flex-grow: 20;
  flex-shrink: 2;
  width: 100%;
}

/* line 120, ../sass/room-positioning.scss */
#empty-space__additional-tools, #empty-space__additional-tools_lib {
  padding: 15px 10px 0 10px;
  flex-grow: 0;
  flex-shrink: 12;
  max-height: 200px;
  bottom: 0;
  background-color: white;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

/* line 134, ../sass/room-positioning.scss */
#stream-info {
  flex-shrink: 0;
  height: 100vh;
  width: auto;
  position: relative;
  z-index: 100 !important;
  overflow: auto;
}

/* line 144, ../sass/room-positioning.scss */
#stream-info__container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* line 152, ../sass/room-positioning.scss */
#stream-info__details {
  padding: 20px;
  flex-grow: 0;
  max-height: 30%;
  flex-shrink: 2;
}

/* line 159, ../sass/room-positioning.scss */
#stream-info__comments {
  padding: 20px;
  max-height: 70%;
  flex-grow: 0;
  flex-shrink: 2;
}

/* line 166, ../sass/room-positioning.scss */
#stream-name span {
  vertical-align: middle;
}

/* line 170, ../sass/room-positioning.scss */
#stream-desc__text {
  margin: 10px 0;
  max-height: 200px;
  hyphens: auto;
}

/* line 176, ../sass/room-positioning.scss */
.info-card {
  margin: 10px 0;
  max-width: 300px;
}

/* line 181, ../sass/room-positioning.scss */
#stream-desc {
  text-indent: 1em;
}

/* line 185, ../sass/room-positioning.scss */
#comments-card__label {
  margin: 20px 0;
}

/* line 189, ../sass/room-positioning.scss */
#comments-card__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* line 196, ../sass/room-positioning.scss */
#comment-field {
  width: auto;
}

/* line 202, ../sass/room-positioning.scss */
#pen-tools, #color-selector, #width-selector {
  margin: 0 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* line 210, ../sass/room-positioning.scss */
#color-selector {
  flex-grow: 1;
}

/* line 214, ../sass/room-positioning.scss */
.pen-tools__item {
  width: 45px;
  height: 45px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  margin: 8px;
  padding: 0;
  border: 0;
}

/* line 229, ../sass/room-positioning.scss */
.pen-tools__item svg {
  margin: 0;
  padding: 0;
  border: 0;
  transform: scale3d(1.5, 1.5, 1.5);
}

#objects * {
  margin: 10px;
}




button {
  padding: 10px;
  border: 10px;
  color: blue;
  background-color: white;
  border: none;
  box-shadow: 0 10px 10px 1px rgba(0,0,0,0.1);
}





.pdfctrl{
  width: 70%;
  padding-bottom: 40px;
}


.hidden{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.center{
  align-content: center;
}
