/* Below are the variables for the colors in Skrib.
   Contents:
   1. Brand colors
   2. Neutral colors
   3. Meaningful colors

   Naming standard:
    purpose + lightness value (100 being the darkest and 700 being the lightest)
    e.g. 'main400' (main color with the brightness value of 400)
    (Note: 400 is main color. <400 are the shade values. >400 are the tint values)
 */
/*
Branding colors
*/
/*
Neutral colors
 */
/*
Meaningful colors
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700");

@font-face {
  font-family: "Futura";
  src: url("fonts/futuralt-webfont.woff2") format("woff2"), url("fonts/futuralt-webfont.woff") format("woff");
}
/* line 5, ../sass/room-fonts.scss */
body * {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* line 9, ../sass/room-fonts.scss */
a, p {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* line 13, ../sass/room-fonts.scss */
h1 {
  font-family: Futura, 'Helvetica', 'Arial', sans-serif;
}

/* line 17, ../sass/room-fonts.scss */
h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif;
}

/* line 21, ../sass/room-fonts.scss */
.header {
  font-family: 'Open Sans Condensed', 'Helvetica', 'Arial', sans-serif !important;
}

/* line 25, ../sass/room-fonts.scss */
.subheader {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif !important;
}

/* line 29, ../sass/room-fonts.scss */
.comment, .commenter-name, .comment-text {
  font-size: 0.8em;
  line-height: normal;
}

/* line 34, ../sass/room-fonts.scss */
.commenter-name {
  font-weight: 600;
  color: #0e3b62;
}

/* line 40, ../sass/room-fonts.scss */
.comment-text {
  font-weight: 400;
}

/* line 45, ../sass/room-fonts.scss */
.stream-status {
  font-family: "Open Sans Condensed";
  font-size: .5em;
  text-transform: uppercase;
}

/* line 51, ../sass/room-fonts.scss */
.nomargin {
  margin: 0 !important;
}

/* line 55, ../sass/room-fonts.scss */
.detail {
  margin: 30px 0;
  position: relative;
}

/* line 60, ../sass/room-fonts.scss */
.weightreg {
  font-weight: 400 !important;
}

/* line 64, ../sass/room-fonts.scss */
.weight600 {
  font-weight: 600 !important;
}

/* line 68, ../sass/room-fonts.scss */
.small {
  font-size: small;
}

/* line 72, ../sass/room-fonts.scss */
.midcont {
  color: #4d4d4d;
}

/* line 76, ../sass/room-fonts.scss */
.lowcont {
  color: #cccccc;
}

/* line 80, ../sass/room-fonts.scss */
#comment-field {
  font-size: 0.9em;
}
