/* Below are the variables for the colors in Skrib.
   Contents:
   1. Brand colors
   2. Neutral colors
   3. Meaningful colors

   Naming standard:
    purpose + lightness value (100 being the darkest and 700 being the lightest)
    e.g. 'main400' (main color with the brightness value of 400)
    (Note: 400 is main color. <400 are the shade values. >400 are the tint values)
 */
/*
Branding colors
*/
/*
Neutral colors
 */
/*
Meaningful colors
 */
/* ==========================================================================
taken from https://github.com/appleboy/normalize.scss

Normalize.scss settings
========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 25, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 38, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 52, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 73, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 90, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 100, ../sass/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 112, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 122, ../sass/partials/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 134, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 142, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 157, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 166, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 202, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 241, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 249, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 257, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 261, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 316, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 327, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 338, ../sass/partials/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 346, ../sass/partials/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 355, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 364, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 391, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 409, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 420, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 435, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 450, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 459, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 470, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 480, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 496, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 517, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 526, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 539, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 552, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 561, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 572, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 577, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* width */
/* line 13, ../sass/room-art.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* line 18, ../sass/room-art.scss */
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 5px;
}

/* Handle */
/* line 24, ../sass/room-art.scss */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 5px;
}

/* Handle on hover */
/* line 30, ../sass/room-art.scss */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

/* line 37, ../sass/room-art.scss */
.default-btn {
  background: linear-gradient(to bottom right, #2595f7, #66b4f9);
  -webkit-box-shadow: 0px 1px 3px rgba(21, 21, 50, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(21, 21, 50, 0.3);
  box-shadow: 0px 1px 3px rgba(21, 21, 50, 0.3);
  transition-timing-function: ease-out;
  transition: 0.2s;
}
/* line 44, ../sass/room-art.scss */
.default-btn svg {
  fill: #ffffff;
}
/* line 48, ../sass/room-art.scss */
.default-btn:hover {
  transform: scale3d(1.05, 1.05, 1);
  transform: translateY(-2px);
  transition-timing-function: ease-out;
  transition: 0.1s;
  -webkit-box-shadow: 0px 3px 7px rgba(21, 21, 50, 0.3);
  -moz-box-shadow: 0px 3px 7px rgba(21, 21, 50, 0.3);
  box-shadow: 0px 3px 7px rgba(21, 21, 50, 0.3);
}
/* line 55, ../sass/room-art.scss */
.default-btn:active {
  transform: scale3d(1.02, 1.02, 1);
  transform: translateY(-1px);
  transition-timing-function: ease-out;
  transition: 0.05s;
  -webkit-box-shadow: 0px 2px 5px rgba(21, 21, 50, 0.3);
  -moz-box-shadow: 0px 2px 5px rgba(21, 21, 50, 0.3);
  box-shadow: 0px 2px 5px rgba(21, 21, 50, 0.3);
}

/* line 64, ../sass/room-art.scss */
.tool-button {
  -webkit-box-shadow: 0px 1px 2px rgba(21, 21, 50, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(21, 21, 50, 0.3);
  box-shadow: 0px 1px 2px rgba(21, 21, 50, 0.3);
  transition-timing-function: ease-out;
  transition: 0.3s;
}

/* line 70, ../sass/room-art.scss */
.tool-button__unselected {
  background-color: #ffffff;
}
/* line 72, ../sass/room-art.scss */
.tool-button__unselected svg {
  fill: #3a9ff7;
}
/* line 75, ../sass/room-art.scss */
.tool-button__unselected:hover {
  transform: scale3d(1.04, 1.04, 1);
  transform: translateY(-2px);
  transition-timing-function: ease-out;
  transition: 0.2s;
  -webkit-box-shadow: 0px 6px 15px rgba(21, 21, 50, 0.3);
  -moz-box-shadow: 0px 6px 15px rgba(21, 21, 50, 0.3);
  box-shadow: 0px 6px 15px rgba(21, 21, 50, 0.3);
}
/* line 82, ../sass/room-art.scss */
.tool-button__unselected:active {
  transform: scale3d(1.05, 1.05, 1);
  transform: translateY(-3px);
  transition-timing-function: ease-out;
  transition: 0.1s;
  -webkit-box-shadow: 0px 10px 30px rgba(21, 21, 50, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(21, 21, 50, 0.3);
  box-shadow: 0px 10px 30px rgba(21, 21, 50, 0.3);
}
/* line 89, ../sass/room-art.scss */
.tool-button__unselected:focus {
  transform: scale3d(1.05, 1.05, 1);
  transform: translateY(-3px);
  transition-timing-function: ease-out;
  transition: 0.1s;
  -webkit-box-shadow: 0px 10px 30px rgba(21, 21, 50, 0.3);
  -moz-box-shadow: 0px 10px 30px rgba(21, 21, 50, 0.3);
  box-shadow: 0px 10px 30px rgba(21, 21, 50, 0.3);
}

/* line 98, ../sass/room-art.scss */
#helping-tools {
  padding-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  transition-timing-function: ease-out;

  box-shadow: 0px 5px 35px -5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
/* line 105, ../sass/room-art.scss */
#helping-tools:hover {
  box-shadow: 0px 5px 35px -5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

/* line 111, ../sass/room-art.scss */
.tool-button__selected {
  -webkit-box-shadow: 0px 3px 10px rgba(20, 50, 255, 0.3);
  -moz-box-shadow: 0px 3px 10px rgba(20, 50, 255, 0.3);
  box-shadow: 0px 3px 10px rgba(20, 50, 255, 0.3);
  background-color: #2595f7;
}
/* line 112, ../sass/room-art.scss */
.tool-button__selected svg {
  fill: #ffffff !important;
  color: #333333;
}

/* line 121, ../sass/room-art.scss */
#stream-info {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: -10px 0px 20px -5px transparent;
  transition-timing-function: ease-out;
  transition: 1s;
  box-shadow: -10px 0px 30px -10px rgba(0, 0, 0, 0.1);
}
/* line 129, ../sass/room-art.scss */
#stream-info:hover {
  transform: scale3d(1.02, 1.02, 1);
  transform: translateY(-1px);
  transition-timing-function: ease-out;
  transition: 0.4s;
  box-shadow: -10px 0px 30px -10px rgba(0, 0, 0, 0.3);
}

/* line 138, ../sass/room-art.scss */
#stream-info__details {
  border-bottom: 1px solid #cccccc;
}

/* line 142, ../sass/room-art.scss */
.comment-block {
  margin: 20px 0;
}

/* line 146, ../sass/room-art.scss */
#comments-card {
  min-height: 100px;
}

/* line 150, ../sass/room-art.scss */
.stream-status {
  padding: 4px;
  border-radius: 3px;
  color: white;
}

/* line 156, ../sass/room-art.scss */
.live-status {
  background: linear-gradient(to bottom right, #2595f7, #07d398);
}

/* line 160, ../sass/room-art.scss */
.private-status {
  background: linear-gradient(to bottom right, #7458dd, #ff6470);
}

/* line 164, ../sass/room-art.scss */
.is_overflow {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}

/* line 170, ../sass/room-art.scss */
#stream-desc__text #read-more-btn {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  margin: 0;
  padding: 30px 0;
  font-weight: 600;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #ffffff);
}

/* line 184, ../sass/room-art.scss */
#read-more-btn .button {
  color: #2595f7;
}

/* line 188, ../sass/room-art.scss */
#comments-card__field {
  margin-top: 20px;
}

/* line 192, ../sass/room-art.scss */
#comment-field {
  flex-shrink: 1;
  width: 100%;
  padding: 10px 20px;
  margin: 0px 10px 0px 0px;
  border: 0.5px solid #66b4f9;
  border-radius: 20px;
  outline: none;
}
/* line 200, ../sass/room-art.scss */
#comment-field:focus {
  border: 1px solid #2595f7;
}

/* line 205, ../sass/room-art.scss */
#submit-btn {
  flex-shrink: 0;
  border-style: none;
  border-radius: 23px;
  width: 45px;
  height: 45px;
  display: flex;
  align-content: center;
  justify-content: center;
  outline: none;
}

/* line 218, ../sass/room-art.scss */
#empty-space__additional-tools, #empty-space__additional-tools_lib {
  border-radius: 5px;
  box-shadow: 0px -5px 20px -5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
/* line 222, ../sass/room-art.scss */
#empty-space__additional-tools:hover, #empty-space__additional-tools_lib:hover {
  box-shadow: 0px -5px 35px -5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

/* line 228, ../sass/room-art.scss */
#undo-redo *, #undo-redo *:focus, #undo-redo *:active {
  width: 90%;
  align-self: center;
  outline: none;
  flex-shrink: 2;
  padding: 10px;
  margin: 2px;
  border-style: none;
  border-radius: 0px;
  background-color: rgba(37, 149, 247, 0);
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
/* line 240, ../sass/room-art.scss */
#undo-redo *:hover, #undo-redo *:focus:hover, #undo-redo *:active:hover {
  border-radius: 30px;
  transform: translateY(-3px);
  background-color: rgba(37, 149, 247, 0.5);
  color: white;
  -webkit-box-shadow: 0px 1px 5px rgba(21, 21, 50, 0.2);
  -moz-box-shadow: 0px 1px 5px rgba(21, 21, 50, 0.2);
  box-shadow: 0px 1px 5px rgba(21, 21, 50, 0.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 249, ../sass/room-art.scss */
#undo-redo *:active, #undo-redo *:focus:active, #undo-redo *:active:active {
  outline: none;
  transform: scale3d(1.05, 1.05, 1);
  transform: translateY(-1px);
  transition-timing-function: ease-out;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.1);
  -moz-box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.1);
  box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.1);
}

/* line 259, ../sass/room-art.scss */
.pen-tools__item__selected {
  -webkit-box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.1);
  -moz-box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.1);
  box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.1);
}
/* line 261, ../sass/room-art.scss */
.pen-tools__item__selected svg {
  fill: #333333;
}

/* line 267, ../sass/room-art.scss */
.pen-tools__item__unselected svg {
  fill: #cccccc;
}
/* line 271, ../sass/room-art.scss */
.pen-tools__item__unselected:hover {
  transition: 0.2s;
  -webkit-box-shadow: 0px 2px 5px rgba(21, 21, 50, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(21, 21, 50, 0.2);
  box-shadow: 0px 2px 5px rgba(21, 21, 50, 0.2);
}

/* line 278, ../sass/room-art.scss */
#color-selector, #width-selector {
  z-index: 101;
}
/* line 280, ../sass/room-art.scss */
#color-selector svg circle, #width-selector svg circle {
  cursor: pointer;
}
/* line 284, ../sass/room-art.scss */
#color-selector svg circle:hover, #width-selector svg circle:hover {
  transition: 0.2s;
  -webkit-box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.2);
  -moz-box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.2);
  box-shadow: 0px 5px 15px rgba(21, 21, 50, 0.2);
}

/* line 292, ../sass/room-art.scss */
.width__selected * svg {
  stroke: black;
  stroke-width: 3px;
}
