.collapsible {
    color: white;
    cursor: pointer;
    padding: 1px;
    text-align: left;
    outline: none;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.draggable {
	cursor: move;
}

.erase {
	cursor: url(../img/erase.png), crosshair;
}

.scribble {
	cursor: crosshair;
}

#main {
	user-select: none;
	margin: 0px;
}

#sample {
	position: fixed; 
	top: 220; 
	left: 0; 
	right: 0; 
	bottom: 250; 
	border: solid; 
	width: 80vw; 
	height: 50vh;
}

#objects {
	position: fixed; 
	top: 10; 
	right: 0; 
	bottom: 10; 
	left: 15;
	border: solid; 
	width: 18vw; 
	height: 50vh;
}

body {
	margin: 0px;
}