.signinbody{
  background-color: #eeeeee;
}

.panel-body{
    padding: 30px;
}

.panel-body *{
    overflow: visible;
}

.regform__group{
    margin: 0;
}

.regform__field{
    margin: 0px 0;
    overflow: visible;
}

.regform__text *{
    margin: 5px 0;
    padding: 15px;
    width: 89%;
    border-radius: 20px;
    border-color: #89C5FA;
    border-style: solid;
}

.regform__text *::placeholder{
    color: #2595F7;
}

.regform__text *:focus{
    color: black;
}

.skrib-button{
    margin-top: 35px;
    padding: 20px;
    width: 60%;
    border: none;
    box-shadow: 3px 3px 3px 0px #dadada;
    border-radius: 3px;
    text-transform: uppercase;
}

.skrib-button:active{
    box-shadow: 3px 3px 5px 0px #e0e0e0;
    text-transform: uppercase;
}
