/* Online imports */
@import url('https://fonts.googleapis.com/css?family=Questrial');

/* All text should be set to Questrial */
html * {
    font-family: 'Questrial', 'Helvetica', 'Arial', sans-serif !important;
}


/* Text modifiers */
.logotype{
  font-weight: 800;
  margin: 0;
}


.uppercase{
  text-transform: uppercase;
}

.navbtn{
  text-decoration: none;
}

.regformlabel{
    font-size: 2em;
}
