body * {
    color: #535353;
}

a {
    color: #2595F7;
}

.color-main {
  color: #2595F7;
}

.color-main-light {
  color: #89C5FA;
}

.color-accent {
  color: #7458DD;
}

.color-accent-light {
  color: #B86CD3;
}

.color-error{
  color: #ff0033;
}

.color-black{
  color: #535353;
}

.gradient-btn {
  color: white;
  background: linear-gradient(to bottom right, #2595F7, #7458DD) !important;
}

.gradient-btn:focus{
    color: white;
    background: linear-gradient(to bottom right, #36A7FF, #8569EE) !important;
    transform: translateY(-1px);
}
