.panel-body{
    padding: 30px;
}

.panel-body *{
    overflow: visible;
}

.regform__group{
    margin: 0;
}

.regform__field{
    margin: 0px 0;
    overflow: visible;
}

.regform__text *{
    font-size: 1em;
    margin: 5px 0;
    padding: 15px;
    width: 89%;
    border-radius: 3px;
    border-color: #89C5FA;
    border-style: solid;
}

.regform__text *::placeholder{
    color: #2595F7;
}

.regform__text *:focus{
    color: black;
}

.skrib-button{
    margin-top: 35px;
    padding: 20px;
    width: 60%;
    border: none;
    box-shadow: 3px 3px 3px 0px #dadada;
    border-radius: 3px;
    text-transform: uppercase;
}

.skrib-button:active{
    box-shadow: 3px 3px 5px 0px #e0e0e0;
    text-transform: uppercase;
}

#divider {
    height: 600px;
    border-left-style: solid;
    border-left-color: #d0d0d0;
    border-width: 1px;
}

#leftart__container{
    min-width: 800px;
}

#leftart__image{
    overflow: hidden;
    min-width: 400px;
    min-height: 400px;
    max-width: 800px;
    max-height: 800px;
    width: 60%;
    height: 100%;
}

@media screen and (max-width : 1537px) {

    #divider {
        display: none;
    }
}

@media screen and (max-width : 1024px) {
    body {
        padding-bottom: 100px;
    }

    #masthead__container{
        width: 100%;
        background-color: white;
        position: fixed;
        padding: 50px 25px;
        box-shadow: 0px 10px 30px 0 #e0e0e0;
        justify-content: flex-start;
    }

    #lndpg_nav {
        width: 40%;
        padding-right: 50px;

    }

    .page__content{
        margin-top: 200px;
    }

    .logotype {
        font-size: 5em;
    }

    .logo {
        width: 75px;
    }

    .navbtn {
        font-size: 2em;
    }

    .addpadding_lr{
        padding-left: 20px;
        padding-right: 20px;
    }

    #marketing__container{
        flex-grow: 1;
        width: 100%;
    }

    #marketing__header{
        font-size: 6em;
        text-align: center;
        flex-grow: 1;
    }

    #marketing__text {
        font-size: 2.5em;
        text-align: center;
    }

    .rightart__container{
        width: 100%;
    }

    .regformlabel{
        font-size: 4em
    }

    .regform__text * {
        border-radius: 10px;
        padding: 40px;
        margin: 15px 0;
        font-size: 2.5em;
    }

    .skrib-button {
        font-size: 2.8em;
        border-radius: 10px;
        padding: 50px;
        box-shadow: 0px 10px 10px 0 #e0e0e0;
    }

    .helpmessage__container{
        margin-top: 100px;
        font-size: 2.5em;
    }
}


.pdfctrl{
  width: 80%;
}

button {
  background-color: white;
  border:none;
  box-shadow: 0 10px 10px 1px rgba(0,0,0,0.1);
}
