/* Online imports */
@font-face {
  font-family: 'AktivGrotesk Bold';
  src: url('../fonts/AktivGrotesk-Bold.eot');
  src: url('../fonts/AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AktivGrotesk-Bold.woff2') format('woff2'),
  url('../fonts/AktivGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('../fonts/AktivGrotesk-Regular.eot');
  src: url('../fonts/AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AktivGrotesk-Regular.woff2') format('woff2'),
  url('../fonts/AktivGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

/* All text should be set to AktivGrotesk */
html * {
    font-family: 'AktivGrotesk', 'Helvetica', 'Arial', sans-serif;
}


/* Text modifiers */
.logotype{
  font-weight: 800;
  margin: 0;
}

.navchoice{
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0 20px; /* for IE and Edge */
}

.uppercase{
  text-transform: uppercase;
}

.navbtn{
  text-decoration: none;
}

.regformlabel{
    font-size: 2em;
}

.regform__text *{
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: normal;
}

.marketing__header{
    font-family: 'Playfair Display', Times, serif;
    font-size: 3.5em;
}

.marketing__text{
    letter-spacing: 1.2px;
    font-size: 1.2em;
    font-weight: normal;
}
