html, body{
  margin: 0;
  padding: 0;
  border: 0;
}

html * {
    overflow-x: hidden;
}

.signinbody{
  background-color: #eeeeee;
}

.flexboxcontainer{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

    align-items: center;
}

.spacebetween{
  justify-content: space-between;
}

.flexstart{
  justify-content: flex-start;
}

.spaceevenly{
  justify-content: space-evenly;
}

.spacebetween{
  justify-content: space-between;
}

.centerjustify{
  justify-content: center;
}

/* All mastheads */
#masthead__container{
  width: 100%;
  padding: 15px;
  box-shadow: 3px 3px 3px 0px #e0e0e0;
}

#branding__container{
  flex-grow: 3.5;
}

#logo{
    margin-left: 20px;
}

#logotype{
  padding: 0px 20px;
}

/* Logged out mastheads */
#lndpg_nav {
  flex-grow: 1;
}

/* page container & children */
.page-container{
    padding: 10px;
    width: 100%;
}

#leftart__container{
    height: 100%;
    width: 60%;
    padding: 30px !important;
}

#marketing__container{
    width: 40%;
}

#marketing__container * {
    margin: 15px 0;
}

#marketing__text{
    line-height: normal;
}

#rightart__container{
    flex-grow: 1;
}

.helpmessage__container{
    text-align: center;
    margin-top: 30px;
}



/* generic posiitoning classes */
.addpadding_lr {
    padding-left: 150px;
    padding-right: 150px;
}

.addpadding_tb {
    padding-top: 75px;
}

/* img modifiers */
.width100{
    width: 100%;
}




.pdfctrl{
  width: 80%;
  padding-bottom: 40px;
}
