html, body{
  margin: 0;
  padding: 0;
  border: 0;
}

html * {
    /*overflow-x: hidden;*/
}

.flexboxcontainer{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

    align-items: center;
}

.spacebetween{
  justify-content: space-between;
}

.flexstart{
  justify-content: flex-start;
}

.flexend{
  justify-content: flex-end;
}

.spaceevenly{
  justify-content: space-evenly;
}



.centerjustify{
  justify-content: center;
}

.header {
  /*flex-direction: row;*/
  align-items: left;
  column-span: all;
  margin-top: 300px;
}

.first-div {
  margin-top: 100px;
  margin-bottom: 0px;
}

/* All mastheads */
.masthead {
  height: 67px;
}

#masthead__container{
  width: 100%;
  padding: 15px;
  box-shadow: 3px 3px 3px 0px #e0e0e0;
  top:0;
  position: fixed;
  z-index: 1;
}

.main__container {
  box-sizing: border-box;
  padding-left: 40px;
  margin: 0 auto;
  column-gap: 3em;
  column-width: 200px; 
  padding: 5px; 
}

.card:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card {
  /*display: flex;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    position: relative;
    background-color: #fff;
}



h3 {
  margin: 0px 0px 3px;
}

p {
  margin-top: 2px;
}

#user {
  margin-bottom: 3px;
  display: inline;
  padding: 0px 20px;
}

.margin-top {
  margin-top: 0;
  padding-top: 0;
}

#branding__container{
  flex-grow: 3.5;
}

#logo{
    margin-left: 20px;
}

#logotype{
  padding: 0px 20px;
}

/* Logged out mastheads */
#lndpg_nav {
  flex-grow: 0.5;
}

/* page container & children */
.page-container{
    padding: 10px;
    width: 100%;
}

#leftart__container{
    height: 100%;
    width: 60%;
    padding: 30px !important;
}

#marketing__container{
    width: 40%;
}

#marketing__container * {
    margin: 15px 0;
}

#marketing__text{
    line-height: normal;
}

#rightart__container{
    flex-grow: 1;
}

.helpmessage__container{
    text-align: center;
    margin-top: 30px;
}



/* generic posiitoning classes */
.addpadding_lr {
    padding-left: 150px;
    padding-right: 150px;
}

.addpadding_tb {
    padding-top: 75px;
}

/* img modifiers */
.width100{
    width: 100%;
}
.margin-form {
  margin-top: .5em;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
