.collapsible {
    color: white;
    cursor: pointer;
    padding: 1px;
    text-align: left;
    outline: none;
}

.content {
}

.draggable {
	cursor: move;
}

.erase {
	cursor: url("https://www.shareicon.net/data/12x12/2015/12/27/693761_remove_512x512.png"), crosshair;
}

.scribble {
	cursor: url("https://www.shareicon.net/data/12x12/2015/12/22/691608_write_512x512.png"), crosshair;
}

#main {
	user-select: none;
	margin: 0px;
}

#pdf-container  {}

body {
	margin: 0px;
}

#helping-tools, #empty-space {
	user-select: none;
}